#This muthafucking file is about requirements
#If you don't like it, then I require to stick this foot up your culo

This is the first requirement for the application:
1- I require it applie
2- I require it cationss
